<mat-toolbar color="primary">
  <span class="fill-remaining-space">Event Management Form</span>
  <button mat-raised-button color="secondary" (click)="goToList()">List</button>
</mat-toolbar>

<div class="container" *ngIf="!post; else forminfo" novalidate>
  <form [formGroup]="formGroup" (ngSubmit)="onSubmit()" class="form">
    <!-- start date -->
    <div
      *ngIf="
        formGroup.controls['isMultipleDays'].value === 'true';
        else startDatetime
      "
      class="form-element"
    >
      <mat-form-field>
        <input
          matInput
          [ngxMatDatetimePicker]="startDate"
          placeholder="Start date"
          formControlName="startDate"
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="startDate"
        ></mat-datepicker-toggle>
        <mat-datepicker #startDate></mat-datepicker>
      </mat-form-field>
    </div>
    <ng-template #startDatetime>
      <mat-form-field class="form-element">
        <input
          matInput
          [ngxMatDatetimePicker]="startDate"
          placeholder="Start date"
          formControlName="startDate"
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="startDate"
        ></mat-datepicker-toggle>
        <ngx-mat-datetime-picker #startDate></ngx-mat-datetime-picker>
      </mat-form-field>
    </ng-template>
    <!-- end date -->
    <div
      *ngIf="
        formGroup.controls['isMultipleDays'].value === 'true';
        else endDatetime
      "
      class="form-element"
    >
      <mat-form-field>
        <input
          matInput
          [ngxMatDatetimePicker]="endDate"
          placeholder="End date"
          formControlName="endDate"
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="endDate"
        ></mat-datepicker-toggle>
        <mat-datepicker #endDate></mat-datepicker>
      </mat-form-field>
    </div>
    <ng-template #endDatetime>
      <mat-form-field class="form-element">
        <input
          matInput
          [ngxMatDatetimePicker]="endDate"
          placeholder="End date"
          formControlName="endDate"
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="endDate"
        ></mat-datepicker-toggle>
        <ngx-mat-datetime-picker #endDate></ngx-mat-datetime-picker>
      </mat-form-field>
    </ng-template>
    <!-- title -->
    <mat-form-field class="form-element">
      <input matInput placeholder="Title" formControlName="title" />
      <mat-error
        *ngIf="
          !formGroup.controls['title'].valid &&
          formGroup.controls['title'].touched
        "
      >
        Enter valid title
      </mat-error>
    </mat-form-field>
    <!-- all day check -->
    <div class="form-element">
      <mat-radio-group formControlName="isMultipleDays">
        <mat-radio-button value="true">Multiple Days</mat-radio-button
        >&nbsp;&nbsp;&nbsp;
        <mat-radio-button value="false">Same Day</mat-radio-button>
      </mat-radio-group>
    </div>

    <!-- Event Details -->
    <div><b>Event Details</b></div>
    <!-- location -->
    <div *ngIf="editLocation" class="form-element">
      <mat-google-maps-autocomplete
        #eventLocation
        [appearance]="appearance.STANDARD"
        [autoCompleteOptions]="autoCompleteOptions"
        (onAutocompleteSelected)="onAutocompleteSelected($event)"
      >
      </mat-google-maps-autocomplete>
    </div>
    <div
      class="form-element"
      *ngIf="selectedEvent && selectedEvent.selectedAddress && !editLocation"
    >
      <mat-form-field>
        <input
          class="form-input"
          matInput
          disabled
          value="{{ selectedEvent.selectedAddress.formatted_address }}"
        />
        <mat-icon (click)="editLocation = !editLocation">edit</mat-icon>
      </mat-form-field>
    </div>
    <!-- email -->
    <mat-form-field class="form-element">
      <input matInput placeholder="Email address" formControlName="email" />
      <mat-error
        *ngIf="
          !formGroup.controls['email'].valid &&
          formGroup.controls['email'].touched
        "
      >
        {{ getErrorEmail(i) }}
      </mat-error>
    </mat-form-field>
    <!-- description -->
    <mat-form-field class="form-element">
      <textarea
        matInput
        placeholder="Description"
        matTextareaAutosize
        matAutosizeMinRows="1"
        matAutosizeMaxRows="5"
        formControlName="description"
      ></textarea>
      <mat-error
        *ngIf="
          !formGroup.controls['description'].valid &&
          formGroup.controls['description'].touched
        "
      >
        Must be up to 100 characters.
      </mat-error>
    </mat-form-field>
    <button
      mat-raised-button
      color="primary"
      type="button"
      class="button guest"
      *ngIf="formGroup.controls.email.value"
    >
      <span (click)="addGuest(); $event.preventDefault()"
        ><mat-icon>add</mat-icon>Guests</span
      >
    </button>
    <!-- guests -->
    <div *ngIf="getGuestsFormControls().length" class="guest-section">
      <div
        *ngFor="let guest of getGuestsFormControls(); let i = index"
        class="form-element guest"
      >
        <mat-form-field>
          <input
            matInput
            type="text"
            placeholder="Guest name"
            [formControl]="guest"
          />
          <mat-icon class="delete-guest" (click)="removeGuest(i)"
            >delete</mat-icon
          >
        </mat-form-field>
      </div>
    </div>

    <br />
    <button
      mat-raised-button
      color="primary"
      type="submit"
      class="button"
      [disabled]="!formGroup.valid"
    >
      Submit Form
    </button>
  </form>
</div>
