.fill-remaining-space {
  /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

.container {
  padding: 10px;
}

.form {
  min-width: 150px;
  max-width: 100%;
  width: 100%;
}

.form-element {
  padding: 5px 5px 10px 5px;
  width: 24%;
  display: inline-block;
  .delete-guest {
    float: right;
  }
  &.guest{
    input{
      width: 90%
    }
  }
  mat-form-field {
    width: 100%;
    .form-input {
      width: 90%;
    }
  }
  &.ngx-mat-timepicker {
    max-height: 65px;
  }
}

.button {
  margin: 5px;
  width: 20%;
  &.guest {
    width: 10%;
    margin-left: 5px;
    mat-icon {
      top: 7px;
      position: relative;
    }
  }
}

mat-icon:hover {
  cursor: pointer;
}

.guest-section{
  border: 2px solid rgba(54, 69, 119, 0.74);
  border-radius: 5px;
}
